{% extends 'base.html' %}
 
{% block title %}About{% endblock title %}
{% block body %} 

<h1>About page</h1>


EXTRA :::: 
Vs code : How to Run the todo List Project.

<ul>
<li>1 . Drag drop to vs code.</li>
<li> 2. Terminal open</li>
<li>3. Python extension install it.
   CTRL + Shift  + P (Command pallent )
   Searrch python create environment venv
  Open new command pallet and open new terminal
<li>4 Install flask :  python -m pip install flask</li>
<li>5.For database instance working :   pip install flask-sqlalchemy</li>
<li>6.Start project       : flask run</li>
<li>7.Open the link with Ctrl + click to view in browser.</li>

</ul>



{% endblock body %}